@charset "UTF-8";
@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.stepperheader {
  background-image: linear-gradient(60deg, rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3), rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3), rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3), rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3), rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3), rgba(230, 100, 101, 0.3), rgba(230, 100, 101, 0.3), rgba(145, 152, 229, 0.3), rgba(145, 152, 229, 0.3));
  height: 150px;
}

@media screen and (min-width: 980px) {
  table {
    border: 1px solid black;
    /* border-collapse會繼承 */
    border-collapse: collapse;
    width: 70%;
    font-size: 20px;
    /* padding: 12px; */
  }
  /* tr不用設置 */
  td,
  th {
    border: 1px solid black;
    padding: 20px;
    vertical-align: middle;
  }
  th {
    background-color: gray;
  }
  td {
    width: 150px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
  }
  .moneyform > .noproduct {
    margin-left: 22%;
    line-height: 500px;
  }
  .moneyform tr {
    max-height: 200px;
  }
  .moneyform tr td:nth-child(1) {
    min-width: 150px;
  }
  .moneyform tr td img {
    width: 100%;
    height: 160px;
  }
  .moneyform tr td > .inputtotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 20px;
  }
  .moneyform tr td > .inputtotal button {
    width: 60px;
    height: 40px;
    border: 2px solid gray;
    font-size: 25px;
    color: black;
    border-radius: 4px;
  }
  .moneyform tr td > .inputtotal button:hover {
    background-color: rgba(0, 128, 0, 0.5);
  }
  .moneyform tr td > .inputtotal > .output input {
    width: 100px;
    text-align: center;
    height: 40px;
    border: 1px solid gray;
  }
  .moneyform > .countabsolute {
    position: absolute;
    width: 23%;
    top: 0;
    right: 30px;
  }
  .moneyform > .countabsolute > .countfixed {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #dcdcdc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    padding: 20px 20px;
  }
  .moneyform > .countabsolute > .countfixed > .totalcount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px 0;
  }
  .moneyform > .countabsolute > .countfixed > .totalcount > .totalcountheader {
    font-size: 30px;
    font-weight: 700;
    background-color: darkcyan;
  }
  .moneyform > .countabsolute > .countfixed > .totalcount > .totalcountmain {
    padding-left: 50px;
    font-size: 30px;
    color: red;
    white-space: nowrap;
  }
  .moneyform > .countabsolute > .countfixed > .nextstop {
    background-color: #1ea071;
    height: 70px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  .moneyform > .countabsolute > .countfixed > .nextstop:hover {
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
    color: #d7e994;
  }
  .moneyform > .countabsolute > .countfixed > .goshop {
    margin-top: 50px;
    height: 70px;
    background-color: #9b9b9b;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  .moneyform > .countabsolute > .countfixed > .goshop:hover {
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
    color: #d7e994;
  }
}

.cheapcode {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 25px;
  padding: 50px 0;
  text-align: center;
}

.cheapcode > .usecode {
  width: 100%;
  height: 50px;
}

.cheapcode > .inputcode {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 649px) {
  .cheapcode > .inputcode {
    height: 200px !important;
  }
}

.cheapcode > .inputcode > .inputbuttoncode {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 649px) {
  .cheapcode > .inputcode > .inputbuttoncode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px !important;
  }
}

.cheapcode > .inputcode > .inputbuttoncode > input {
  border: 2px ridge #ced4da;
  border-radius: 10px;
  height: 40px;
}

@media screen and (max-width: 649px) {
  .cheapcode > .inputcode > .inputbuttoncode > input {
    width: 50%;
  }
}

.cheapcode > .inputcode > .inputbuttoncode > button {
  border: 1px solid #00796b;
  border-radius: 5px;
  color: #00796b;
  height: 40px;
  margin-left: 2px;
}

.cheapcode > .inputcode > .inputbuttoncode > button:hover {
  background-color: #00796b;
  color: white;
}

@media screen and (max-width: 649px) {
  .cheapcode > .inputcode > .inputbuttoncode > button {
    width: 50%;
  }
}

.cheapcode .buttonstop {
  width: 100%;
}

.cheapcode .buttonstop > .nextstop {
  background-color: #1ea071;
  height: 70px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: 100px;
}

.cheapcode .buttonstop > .nextstop:hover {
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  color: #d7e994;
}

.cheapcode .buttonstop > .beforestop {
  background-color: #1ea071;
  height: 70px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: 100px;
  background-color: rosybrown;
}

.cheapcode .buttonstop > .beforestop:hover {
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  color: #d7e994;
}
/*# sourceMappingURL=checkout.css.map */